@model WebUI.Models.ProductUpdateViewModel
@{
    ViewData["Title"] = "ProductUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-controller="Admin" asp-action="ProductUpdate" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label>Ad</label>
        <input asp-for="Name" class="form-control" placeholder="Ürün Adı" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Açıklama</label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Kullanım Şekli</label>
        <textarea class="form-control" asp-for="Use"></textarea>
        <span asp-validation-for="Use" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Resim</label>
        <input type="hidden" name="Image" value="@Model.Image" />
        <img id="images" src="~/img/@Model.Image" width="200" />
        <input type="file" name="file" value="" onchange="loadFile(event)" />
    </div>

    <div class="form-group">
        <label>Fiyat</label>
        <input asp-for="Price" class="form-control" placeholder="Ürün Fiyatı" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Stok Sayısı</label>
        <input asp-for="Stock" class="form-control" placeholder="Stok Sayısı" />
        <span asp-validation-for="Stock" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Kategori Adı</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
    </div>




    <input type="submit" value="Ürünü Güncelle" class="btn btn-xs btn-success" />
</form>

<script>
    var loadFile = function (event) {
        var image = document.getElementById('images');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
