@model WebUI.Models.CartSummaryViewModel

    <ul class="nav-shop">
        <li class="nav-item"><button onclick="parent.location='/Cart/Index'"><i class="ti-shopping-cart"></i><span class="nav-shop__circle">@Model.Cart.CartLines.Count</span></button> </li>
        @*<li class="nav-item"><a asp-controller="Cart" asp-action="Index"><i class="ti-shopping-cart"></i><span class="nav-shop__circle">@Model.Cart.CartLines.Count</span></a> </li>*@
    </ul>