@model WebUI.Models.ProductListViewModel
    <form method="get">
        <div class="input-group filter-bar-search">
            <input type="text" name="s" placeholder="Ara">
            <div class="input-group-append">
                <button type="submit"><i class="ti-search"></i></button>
            </div>
        </div>
    </form>